{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="sidebar-main">
        <div class="sidebar">
            <a href="{% url 'admin-add-blog' %}">Add Blog</a><br>
            <a href="{% url 'edit-blog' %}">Edit Blog</a><br>
        </div>
    </div>

</body>
</html>