{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="choosing_us_main">
        <div class="choosing_us_main_chld1">
            <p>Thank You For <br>Choosing Us!</p>
        </div>
        <div class="choosing_us_main2">
            <p>Our Services</p>
            <div class="products_services_cards">
                <a href="">
                    <div class="products_services_card1">
                        <p>Web Development</p>
                    </div>
                </a>
                <a href="">
    
                    <div class="products_services_card2">
                        <p>Digital Marketing</p>
                    </div>
                </a>
    
                <a href="">
    
                    <div class="products_services_card3">
                        <p>Data Analyst</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>